.product {
  border-radius: 5px;
  background: #324c66;
  transition: 0.2s ease-in-out;
  width: 200px;
  margin: 10px;
  color: white;

  &:hover {
    box-shadow: 30px 30px 107px 40px rgba(21, 88, 151, 0.39);
  }

  .details {
    display: flex;
  }

  .title {
    font-weight: bold;
    margin: 10px 0 0 25px;
  }

  .price {
    margin-left: 25px;
    padding: 5px 0;
  }

  img {
    object-fit: contain;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 200px;
  }

  button {
    border-radius: 5px;
    // background-color: rgb(128, 236, 240);
    padding: 10px;
    background: transparent;
    transition: 0.15s ease-in-out;
    margin: 10px 0;
    color: rgb(128, 236, 240);
    margin-left: 25px;

    &:hover {
      cursor: pointer;
      background-color: rgb(80, 155, 158);
      color: white;
    }
  }
}
